- if @user
	%div.left
		%h3 Beer Options
		%table.table.table-hover
			%thead
				%tr
					%th Name
					%th Rating (1 - Nope, 5 - Yup)
					%th Avg Review
			%tbody
			- @beers.each do |beer|
				%tr{id: "beer_#{beer.id}"}
					%td= beer.name
					%td.ratings
						- if @user.beers.include?(beer)
							= @reviews.find_by_beer_id(beer.id).rating
						- else
							= select_tag "ratings", options_for_select(Review::RATING, "-"), {data: {beer_id: beer.id}}
					%td= beer.average_rating
					- if (@user.id == 1 || @user.id == 2)
						%td.ordered{data: {beer_id: beer.id }} Select

	%div.right
		%h3 What Others Rated
		%table.table.table-hover
			%thead
				%tr
					%th Name
					%th Latest Review
					%th Avg Review
			%tbody
			- @users.each do |user|
				%tr{id: "user_#{user.id}"}
					%td= user.name
					%td= latest_review(user)
					%td= user.average_review
		- unless @ordered.empty?
			%h3 Ordered Beers
			%table.table.table-hover
				%thead
					%tr
						%th Name
						%th Average Rating
				%tbody
				- @ordered.each do |beer|
					%tr{id: "beer_#{beer.id}"}
						%td= beer.name
						%td= beer.average_rating
- else
	%div#select-name
		%h3 Who are you?
		= select_tag "users", options_from_collection_for_select(@users, "id", "name"), prompt: "Select Name"

:javascript
	$("#users").change(function() {
		userId = $("#users").val();

		$.ajax({
			type: "GET",
			url: "/set_user",
			data: {user_id: userId}
		}).success(function(){
			location.reload();
		});
	});

	$(".ratings").change(function(e) {
		rating = $(e.target).val();
		beerId = $(e.target).data("beerId");
		$.ajax({
			type: "POST",
			url: "/rate",
			data: {rating: rating, beer_id: beerId}
		}).success(function(){
			location.reload();
		});
	});

	$(".ordered").click(function(e) {
		beerId = $(e.target).data("beerId");
		$.ajax({
			type: "GET",
			url: "/ordered",
			data: {beer_id: beerId}
		}).success(function(){
			console.log("LOC", location)
			location.reload();
		});
	})
