/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*@import "bootstrap-sprockets";*/
@import "bootstrap";

h3 { 
	font-weight: 100;
}

select {
	border: none;
	height: 25px;
}

#select-name {
	width: 350px;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	margin-top: 100px;

	select {
		height: 50px;
		background-color: #FFF;
		font-weight: 200;
	}
}

.ratings select {
	width: 50px;
}

.left {
	float: left;
	width: 50%;
}

.right {
	float: right;
	width: 45%;
}