<!DOCTYPE html>
%html
  %head
  %title Touterator
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %link{rel: "icon", type: "image/png", href: "../assets/bsquare.png"}
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

  %body
    .container.clearfix
      = yield      